{% extends "base.html" %}
{% block content %}

<div class="container">
	<h1>Welcome to FriendSpot!</h1>

        {% for message in get_flashed_messages() %}
                {{ message }}
        {% endfor %}

	<hr>
	<br>
	<h2>Please login:</h2>
	<form action="" method="post">
		<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Email" name ="email" value="{{ request.form.email }}">
		<label for="password"<b>Password</b></label>
		<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
		<button type="submit" class="registerbtn">Log in</button>

		<p>Don't have an account? Click <a href="http://set09103.napier.ac.uk:9159/register/">here</a> to create an account</p>
	</form>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}

</div>
{% endblock %}

