{% extends "base.html" %}
{% block content %}



<ul>
	<li><a class="active" href="http://set09103.napier.ac.uk:9159/">Home</a></li>
 	<li><a href={{ profileURL }}>My Profile</a></li>

	<li><a href="http://set09103.napier.ac.uk:9159/logout/">Log out</a></li>
</ul>


<div class="container" >


	{% for messsage in get_flashed_messages() %}
                {{ message }}
        {% endfor %}
	<h1>welcome to FriendSpot!</h1>
	<h3>Share a post:</h3>
	<form method="post">
		<input type="text" placeholder="Title" name="title" required>	
		<input type="text" placeholder="Message" name="body" required>
		<button type="submit" class="postbtn" value="Post">Post</button>
	</form>
	<hr>	
	<br>
	{% for post in posts %}
		<div id="rcorners">
			<table>
				<tr valign="top">
					<td><img src="{{ post.author.avatar(50) }}" hspace="10"></td>
					<td><div>
						<h4><a href="http://set09103.napier.ac.uk:9159/profile/{{post.author.username}}/">{{ post.author.first_name }} {{ post.author.last_name }}</a></h4>
						<h6> {{ post.date.strftime("%d") }} {{ post.date.strftime("%b") }} at {{ post.date.strftime("%I") }}:{{ post.date.strftime("%M") }} {{ post.date.strftime("%p") }}</h6>
					</div></td>
				</tr>
			</table>
			<hr>
			<h2><strong> {{ post.header }} </strong></h2>
 			<h4>{{ post.body }} </h4>
			<br>	
		</div>
	{% endfor %}


</div>

{% endblock %}
