{% extends "base.html" %}
{% block content %}

<ul>
  <li><a class="active" href="http://set09103.npaier.ac.uk:9159/">Home</a></li>
  <li><a href="http://set09103.napier.ac.uk:9159/logout/">Log out</a></li>
</ul>


<div class="container" >


	{% for messsage in get_flashed_messages() %}
                {{ message }}
        {% endfor %}
	<h1>welcome to FriendSpot!</h1>
	
	<hr>
	<br>
	{% for post in posts %}
		<div id="rcorners">
			<h4> {{ post.author.first_name }} {{ post.author.last_name }} 
			<hr>
			</h4><h2><strong> {{ post.header }} </strong></h2>
 			<h4>{{ post.body }} </h4>	
		</div>
	{% endfor %}


</div>

{% endblock %}
